{%- macro module_config_ouput(mod_name, ordered=False) -%}
<IfModule {{mod_name}}_module>
{%- set mod_data = site.get('modules',{}).get(mod_name,{}) %}
{%- for property, property_data in mod_data.items() %}
{%- if property != 'Formula_Append' %}
    {%- if ordered %}
        {%- set property = property[3:] %}
    {%- endif %}
    {%- if property_data is string %}
    {{property}} {{property_data}}
    {%- else %}
    {%- for item in property_data %}
    {{property}} {{item}}
    {%- endfor %}
    {%- endif %}
{%- endif %}
{%- endfor %}
{%- if mod_data.get('Formula_Append') %}
{{ mod_data.Formula_Append|indent(8) }}
{%- endif %}
</IfModule>
{%- endmacro %}